/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _NAV 1
#define _MEDIA 2
#define _NUM 3
#define _SYM 4
#define _FUN 5


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    &kp Q           &kp W           &kp F           &kp P           &kp B           &kp J           &kp L           &kp U           &kp Y           &kp SQT
    &mt LGUI A      &mt LALT R      &mt LCTRL S     &mt LSHFT T     &mt RALT G      &mt RALT M      &mt LSHFT N     &mt LCTRL E     &mt LALT I      &mt LGUI O
    &mt LCTRL Z     &mt RALT X      &kp C           &kp D           &kp V           &kp K           &kp H           &kp COMMA       &mt RALT DOT    &lt _FUN FSLH
                                                    &lt _SYM TAB    &lt _NUM SPACE  &lt _NAV BSPC   &lt _MEDIA RET
                        >;
                };

                nav_layer {
                        bindings = <
    &no             &no             &no             &no             &no             &kp INS         &kp HOME        &kp PGDN        &kp PGUP        &kp END
    &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &no             &kp ESC         &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT
    &no             &no             &no             &no             &no             &kp DEL         &u_caps_word    &kp PSCR        &kp SCRL        &kp PAUS
                                                    &kp TAB         &kp SPACE       &no             &no
                        >;
                };

                media_layer {
                        bindings = <
    &no             &no             &no             &no             &no             &no             &no             &no             &no             &no
    &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &no             &kp C_MUTE      &kp C_PREV      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT
    &no             &no             &no             &no             &no             &kp C_PP        &kp C_STOP      &no             &no             &no
                                                    &kp C_MUTE      &kp C_PP        &no             &no
                        >;
                };

                num_layer {
                        bindings = <
    &kp GRAVE       &kp 7           &kp 8           &kp 9           &kp 0           &no             &no             &no             &no             &no
    &kp SEMI        &kp 4           &kp 5           &kp 6           &kp MINUS       &no             &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
    &kp BSLH        &kp 1           &kp 2           &kp 3           &kp EQUAL       &no             &no             &no             &no             &no
                                                    &no             &no             &kp LBKT        &kc RBKT
                        >;
                };

                sym_layer {
                        bindings = <
    &kp TILDE       &kp AMPS        &kp KP_MULTIPLY &kp LPAR        &kp RPAR        &no             &no             &no             &no             &no
    &kp COLN        &kp DLLR        &kp PRCNT       &kp CARET       &kp UNDS        &no             &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
    &kp PIPE        &kp EXCL        &kp AT          &kp HASH        &kp PLUS        &no             &no             &no             &no             &no
                                                    &no             &no             &kp LBRC        &kp RBRC
                        >;
                };

                fun_layer {
                        bindings = <
    &no             &no             &no             &no             &no             &kp F1          &kp F2          &kp F3          &kp F4          &no
    &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &no             &kp F5          &kp F6          &kp F7          &kp F8          &no
    &no             &no             &no             &no             &no             &kp F9          &kp F10         &kp F11         &kp F12         &no
                                                    &kp TAB         &kp SPACE       &kp BSPC        &kp RET
                        >;
                };

        };
};
