/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _NAV 1
#define _MEDIA 2
#define _NUM 3
#define _SYM 4
#define _FUN 5

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    &kp Q           &kp W           &kp F           &kp P           &kp B           &kp J           &kp L           &kp U           &kp Y           &kp SQT
    &mt LGUI A      &mt LALT R      &mt LCTRL S     &mt LSHFT T     &mt RALT G      &mt RALT M      &mt LSHFT N     &mt LCTRL E     &mt LALT I      &mt LGUI O
    &mt LCTRL Z     &mt RALT X      &kp C           &kp D           &kp V           &kp K           &kp H           &kp COMMA       &mt RALT DOT    &lt _FUN FSLH
                                    &mt LSHFT ESC   &lt _NUM SPACE  &lt _SYM TAB    &lt _MEDIA RET  &lt _NAV BSPC   &lt _FUN DEL
                        >;
                };

                nav_layer {
                        bindings = <
    &none           &none           &none           &none           &none           &kp INS         &kp HOME        &kp PG_DN        &kp PG_UP        &kp END
    &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none           &kp ESC         &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT
    &none           &none           &none           &none           &none           &kp DEL         &caps_word      &kp PSCRN       &kp SLCK        &kp PAUSE_BREAK
                                    &kp ESC         &kp SPACE       &kp TAB         &none           &none           &none
                        >;
                };

                media_layer {
                        bindings = <
    &none           &none           &none           &none           &none           &none           &none           &none           &none           &none
    &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none           &kp C_MUTE      &kp C_PREV      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT
    &none           &none           &none           &none           &none           &kp C_PP        &kp C_STOP      &none           &none           &none
                                    &kp C_STOP      &kp C_PP        &kp C_MUTE      &none           &none           &none
                        >;
                };

                num_layer {
                        bindings = <
    &kp GRAVE       &kp N7          &kp N8          &kp N9          &kp N0           &none           &none           &none           &none           &none
    &kp SEMI        &kp N4          &kp N5          &kp N6          &kp MINUS       &none           &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
    &kp BSLH        &kp N1          &kp N2          &kp N3          &kp EQUAL       &none           &none           &none           &none           &none
                                    &none           &none           &none           &kp LBKT        &kc RBKT        &none
                        >;
                };

                sym_layer {
                        bindings = <
    &kp TILDE       &kp AMPS        &kp ASTRK       &kp LPAR        &kp RPAR        &none           &none           &none           &none           &none
    &kp COLON       &kp DLLR        &kp PRCNT       &kp CARET       &kp UNDS        &none           &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
    &kp PIPE        &kp EXCL        &kp AT          &kp HASH        &kp PLUS        &none           &none           &none           &none           &none
                                    &none           &none           &none           &kp LBRC        &kp RBRC        &none
                        >;
                };

                fun_layer {
                        bindings = <
    &none           &none           &none           &none           &none           &kp F1          &kp F2          &kp F3          &kp F4          &none
    &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none           &kp F5          &kp F6          &kp F7          &kp F8          &none
    &none           &none           &none           &none           &none           &kp F9          &kp F10         &kp F11         &kp F12         &none
                                    &kp ESC         &kp SPACE       &kp TAB         &kp RET         &kp BSPC        &kp DEL
                        >;
                };

        };
};
